@import "custom/variables.scss";
@import "custom/mixins.scss";



.pccowboy-product-categories-nav-menu ul li{


  a{
    display: block;
    border-bottom : 1px solid #ddd;
    border-bottom : 1px solid #dedede;
    font-size: 9px !important;
    font-size: .9rem !important;
    @include easingTransitionAll5s;
    cursor : pointer;
  }


  a.current-category{
    background-color: #e8e8e8;
  }

  .xhero{
    display: none;
    z-index: 10;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 20px solid $themeMainBGColor;
    border-bottom: 8px solid transparent;
    content:"";

    position:absolute;
    left : -8px;
    top : 13px;
  }

  a:hover{
    background-color: $hoverColor1;
    @include easingTransitionAll5s;
    color : #fff;
  }

  .hero-left{
    display: block !important;
  }



  .link-icon{
    //padding-right : 5px;
    -webkit-transition: padding 0.5s ease;
    -moz-transition: padding 0.5s ease;
    transition: padding 0.5s ease;

    position: absolute;
    right : 15px;
    top: 15px;
  }

}

.parent-menu ul{
  margin-left : 15px;
}

.parent-menu > li:first-child{
  //border-top :1px solid #ddd;
}
