/**
 * Media queries mixins
 *
 *
 */
/**
 * END Media queries mixins
 *
 *
 */
.pccowboy-product-categories-nav-menu ul li a {
  display: block;
  border-bottom: 1px solid #ddd;
  border-bottom: 1px solid #dedede;
  font-size: 9px !important;
  font-size: .9rem !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.pccowboy-product-categories-nav-menu ul li a.current-category {
  background-color: #e8e8e8;
}

.pccowboy-product-categories-nav-menu ul li .xhero {
  display: none;
  z-index: 10;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 20px solid #14213D;
  border-bottom: 8px solid transparent;
  content: "";
  position: absolute;
  left: -8px;
  top: 13px;
}

.pccowboy-product-categories-nav-menu ul li a:hover {
  background-color: #3498DB;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #fff;
}

.pccowboy-product-categories-nav-menu ul li .hero-left {
  display: block !important;
}

.pccowboy-product-categories-nav-menu ul li .link-icon {
  -webkit-transition: padding 0.5s ease;
  -moz-transition: padding 0.5s ease;
  transition: padding 0.5s ease;
  position: absolute;
  right: 15px;
  top: 15px;
}

.parent-menu ul {
  margin-left: 15px;
}
