/**
 * Media queries mixins
 *
 *
 */

 $screen-lg : 1200;
 @mixin screen-lg {
   @media (max-width: #{ $screen-lg}) {
     @content;
   }
 }

 @mixin screen-lg-min {
   @media (min-width: #{ $screen-lg})  {
     @content;
   }
 }


 $screen-md : 992px;
 @mixin screen-md-min {
   @media (min-width: #{ $screen-md})  {
     @content;
   }
 }

 @mixin screen-md {
   @media (max-width: #{$screen-md}) {
     @content;
   }
 }

 $screen-xs : 768px;
 @mixin screen-xs {
   @media (max-width: #{$screen-xs}) {
     @content;
   }
 }

 @mixin screen-xs-min {
   @media (min-width: #{$screen-xs}) and (max-width: #{$screen-md}) {
     @content;
   }
 }




/**
 * END Media queries mixins
 *
 *
 */



 @mixin font-size($sizeValue: 1.6) {
   font-size: ($sizeValue * 10) + px !important;
   font-size: $sizeValue + rem !important;
 }

 @mixin FontSize1rem{
    @include font-size(1);

 }

 @mixin FontSize1_2rem{
   @include font-size(1.2);

 }

 @mixin FontSize1_4rem{
   @include font-size(1.4);

 }

 @mixin FontSize1_6rem{
   @include font-size(1.6);

 }

 @mixin FontSize1_8rem{
   @include font-size(1.8);

 }

 @mixin FontSize2rem{
   @include font-size(2);

 }


 @mixin FontSize2_2rem{
   @include font-size(2.2);

 }

 @mixin FontSize2_4rem{
   @include font-size(2.4);

 }

 @mixin FontSize2_6rem{
   @include font-size(2.6);

 }

 @mixin FontSize2_8rem{
   @include font-size(2.8);

 }

 @mixin FontSize3rem{
   @include font-size(3);

 }


 @mixin FontSize3_2rem{
   @include font-size(3.2);

 }

 @mixin FontSize3_4rem{
   @include font-size(3.4);

 }

 @mixin FontSize3_6rem{
   @include font-size(3.6);

 }

 @mixin FontSize3_8rem{
   @include font-size(3.8);

 }

 @mixin FontSize4rem{
   @include font-size(4);

 }

 @mixin FontSize4_2rem{
   @include font-size(4.2);

 }

 @mixin FontSize4_4rem{
   @include font-size(4.4);

 }

 @mixin FontSize4_6rem{
   @include font-size(4.6);

 }

 @mixin FontSize4_8rem{
   @include font-size(4.8);

 }

 @mixin FontSize5rem{
   @include font-size(5);

 }


///

@mixin sectionBottomMargin1 {
  margin-bottom : $marginBottom-lg;
  @include screen-xs{
    margin-bottom : $marginBottom-xs;
  }

}


@mixin sectionBoxShadow1 {
  box-shadow : 0px 0px 5px #eee !important;
  @include screen-xs{
    box-shadow : 0px 0px 3px #eee !important;
  }

}

@mixin sectionBoxShadow2 {
  box-shadow : 0px 0px 5px #555 !important;
  @include screen-xs{
    box-shadow : 0px 0px 3px #555 !important;
  }

}

@mixin easingTransitionAll5s{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@mixin easingTransitionAll3s{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


@mixin hoverMixin1 {
  &:hover{
    background-color: $hoverColor1 !important;
    color : #fff;
    @include easingTransitionAll5s;
  }
}

@mixin hoverMixin2 {
  &:hover{
    background-color: $hoverColor2 !important;
    color : #fff;
    @include easingTransitionAll5s;
  }
}
