
$color1 : #3B444B;
$color2 : #B2BEB5;
$color3 : #6E7F80;
$color4 : #DBE9F4;
$color5 : #1F75FE;

$border1 : #cbcbcb;

//$themeMainColor : #F96302; //orange
//$themeMainColor : #004890; //dark blue
//$themeMainColor : #47555E;
$themeMainColor : #FCA311;

$themeSecondColor : #3B444B;
$themeMainBorderColor : #cbcbcb;
$themeMainBGColor : #14213D;
$itemBGColor : #fff;
$sectionBGColor : #007EA7;
$sectionBGColor2 : #f6f6f6;
$themeSaleFlagColor :#3498DB;
$themeSaleFlagPart : #3498DB;
$themeNewFlagColor : #3498DB;
$themeNewFlagPart : #3498DB;

$hoverColor1 : #3498DB;
$hoverColor2 : #3498DB;

$headerLinksHover : rgba(0,0,0,.1);
$categoriesCaptionShadow : 0px 0px 40px $hoverColor1;
$categoriesCaptionFontFamily : Lato;




$buttonCollor1 : $themeMainColor;
$buttonColor2 : #003459;
$buttonBorderColor1 : #ddd;

$sectionMarginBottom1 : 20px;
$marginBottom-lg : 20px;
$marginBottom-xs : 10px;

$singleViewPaddingTop : 20px;

$topMargin : 20px;

$fontColor1 : #333333;
$fontColor2 : #fefefe;
